.ListPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* background-color: yellow; */
}

/* SECTION - 1 */

.AddTask {
  /* height: 12%; */
  min-height: fit-content;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: red;
}

.header-h1 {
  /* width: 20%; */
  min-width: fit-content;
  /* background-color: orange; */
}

.header1 {
  color: white;
  margin: 10px;
}

.header-btn {
  /* width: 20%; */
  min-width: fit-content;
  /* max-height: fit-content; */
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
}

/* Css for Create task button */
.addtaskbtn {
  /* width: 60%; */
  min-height: fit-content;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 6px;
  color: white;
  background-color: black;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.addtaskbtn:hover {
  background-color: rgb(90, 83, 83);
}

/* Css for Logout button */
.logoutbtn {
  min-height: fit-content;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 6px;
  color: white;
  background-color: blue;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.logoutbtn:hover {
  background-color: rgb(6, 6, 194);
}

/* SECTION - 2 : All Content*/
.middle {
  min-height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  /* background-color: blue; */
}

.middle-child {
  height: 100%;
  width: 70%;
  margin: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: 30px; */
  font-size: 2rem;
  font-weight: 700;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

/* SECTION - 3 : Dispaly List of all Tasks*/

.ListTask {
  height: 75%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.ListSequence {
  min-height: fit-content;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.TaskContent {
  min-height: fit-content;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 25px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.content-first {
  height: 80%;
  width: 100%;
}

.content-btn {
  /* height: 20%; */
  min-height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: orange; */
}

/* Css for Update Button */
.editbtn {
  /* height: fit-content; */
  width: 100%;
  min-height: fit-content;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 6px;
  color: white;
  background-color: rgb(7, 151, 7);
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.editbtn:hover {
  background-color: rgb(12, 200, 12);
}

/* Css for Delete button */
.deletebtn {
  width: 100%;
  min-height: fit-content;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 6px;
  color: white;
  background-color: red;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

.deletebtn:hover {
  background-color: rgb(240, 54, 54);
}

.TaskContent h1,
.TaskContent h2,
.TaskContent h3 {
  margin: 10px;
}

.noTask {
  margin: 0rem;
}
.addtaskbtn,
.logoutbtn {
  margin: 0.2rem;
}

.TaskContent h1 {
  font-size: 2rem;
}
.TaskContent h2,
.TaskContent h3 {
  font-size: 1.5rem;
}

/* ------>>>> RESPONSIVE  <<<<------- */

/* @media queries are used to apply specific styles to a web page based on the characteristics of the device or viewport, such as its width, height, or orientation */

/* enclosed styles will be applied only when the width of the viewport is less than or equal to 700 pixels.  */
@media (max-width: 700px) {
  .header1 {
    /* color: yellow; */
    font-size: 1.7rem;
  }
  .middle-child,
  .noTask {
    font-size: 1.5rem;
    margin: 0rem;
  }
  .addtaskbtn,
  .logoutbtn {
    font-size: 1rem;
  }
  .TaskContent h1 {
    font-size: 1.5rem;
  }
  .TaskContent h2,
  .TaskContent h3 {
    font-size: 1.3rem;
  }
  .editbtn,
  .deletebtn {
    font-size: 1rem;
    margin: 0.2rem;
  }
}

/* enclosed styles will be applied only when the width of the viewport is less than or equal to 600 pixels.  */
@media (max-width: 600px) {
  .header1 {
    /* color: orange; */
    font-size: 1.6rem;
  }
  .middle-child,
  .noTask {
    font-size: 1.4rem;
    margin: 0rem;
  }
  .addtaskbtn,
  .logoutbtn {
    font-size: 0.9rem;
  }
  .TaskContent h1 {
    font-size: 1.4rem;
  }
  .TaskContent h2,
  .TaskContent h3 {
    font-size: 1.2rem;
  }
  .editbtn,
  .deletebtn {
    font-size: 0.9rem;
    margin: 0.2rem;
  }
}

/* enclosed styles will be applied only when the width of the viewport is less than or equal to 492 pixels. */
@media (max-width: 492px) {
  .header1 {
    /* color: purple; */
    font-size: 1.4rem;
  }
  .middle-child,
  .noTask {
    font-size: 1.2rem;
  }
  .addtaskbtn,
  .logoutbtn {
    font-weight: 500;
  }
  .TaskContent h1 {
    font-size: 1.2rem;
  }
  .TaskContent h2,
  .TaskContent h3 {
    font-size: 1rem;
  }
  .editbtn,
  .deletebtn {
    font-size: 0.9rem;
    margin: 0.2rem;
  }
}

/* enclosed styles will be applied only when the width of the viewport is less than or equal to 477 pixels. */
@media (max-width: 477px) {
  .header1 {
    font-size: 1.2rem;
    /* color: greenyellow; */
  }
  .addtaskbtn,
  .logoutbtn {
    font-size: 0.9rem;
  }
  .middle-child,
  .noTask {
    font-size: 1rem;
    /* background-color: yellow; */
  }
  .TaskContent h1 {
    font-size: 1.04rem;
  }
  .TaskContent h2,
  .TaskContent h3 {
    font-size: 0.89rem;
  }
  .editbtn,
  .deletebtn {
    font-size: 0.78rem;
    margin: 0.2rem;
  }
}

/* enclosed styles will be applied only when the width of the viewport is less than or equal to 417 pixels. */
@media (max-width: 417px) {
  .header1 {
    font-size: 1rem;
    /* color: black; */
  }
  .addtaskbtn,
  .logoutbtn {
    font-size: 0.7rem;
  }
  .middle-child,
  .noTask {
    font-size: 0.9rem;
    /* background-color: purple; */
  }

  .TaskContent h1 {
    font-size: 0.96rem;
  }
  .TaskContent h2,
  .TaskContent h3 {
    font-size: 0.8rem;
  }
  .editbtn,
  .deletebtn {
    font-size: 0.7rem;
    margin: 0.2rem;
  }
}

/* enclosed styles will be applied only when the width of the viewport is less than or equal to 378 pixels. */
@media (max-width: 378px) {
  .header1 {
    font-size: 0.89rem;
    /* color: white; */
  }
  .addtaskbtn,
  .logoutbtn {
    font-size: 0.66rem;
  }
  .middle-child,
  .noTask {
    font-size: 0.88rem;
    /* background-color: purple; */
  }

  .TaskContent h1 {
    font-size: 0.88rem;
  }
  .TaskContent h2,
  .TaskContent h3 {
    font-size: 0.75rem;
  }
  .editbtn,
  .deletebtn {
    font-size: 0.65rem;
    margin: 0.2rem;
  }
}

/* enclosed styles will be applied only when the width of the viewport is less than or equal to 360 pixels. */
@media (max-width: 360px) {
  .header1 {
    font-size: 0.85rem;
    /* color: black; */
  }
  .addtaskbtn,
  .logoutbtn {
    font-size: 0.61rem;
  }
  .middle-child,
  .noTask {
    font-size: 0.8rem;
    /* background-color: yellow; */
  }

  .TaskContent h1 {
    font-size: 0.8rem;
  }
  .TaskContent h2,
  .TaskContent h3 {
    font-size: 0.71rem;
  }
  .editbtn,
  .deletebtn {
    font-size: 0.61rem;
    margin: 0.2rem;
  }
}

/* enclosed styles will be applied only when the width of the viewport is less than or equal to 321 pixels. */
@media (max-width: 321px) {
  .header1 {
    font-size: 0.82rem;
    /* color: black; */
  }
  .addtaskbtn,
  .logoutbtn {
    font-size: 0.58rem;
  }
  .middle-child,
  .noTask {
    font-size: 0.77rem;
    /* background-color: yellow; */
  }

  .TaskContent h1 {
    font-size: 0.77rem;
  }
  .TaskContent h2,
  .TaskContent h3 {
    font-size: 0.69rem;
  }
  .editbtn,
  .deletebtn {
    font-size: 0.58rem;
    margin: 0.2rem;
  }
}

/* enclosed styles will be applied only when the width of the viewport is less than or equal to 301 pixels. */
@media (max-width: 301px) {
  .header1 {
    font-size: 0.8rem;
    /* color: black; */
  }
  .addtaskbtn,
  .logoutbtn {
    font-size: 0.52rem;
    margin: 0.2rem;
  }
  .middle-child,
  .noTask {
    font-size: 0.72rem;
    /* background-color: yellow; */
  }

  .TaskContent h1 {
    font-size: 0.72rem;
  }
  .TaskContent h2,
  .TaskContent h3 {
    font-size: 0.65rem;
  }
  .editbtn,
  .deletebtn {
    font-size: 0.52rem;
    margin: 0.2rem;
  }
}

/* enclosed styles will be applied only when the width of the viewport is less than or equal to 285 pixels. */
@media (max-width: 285px) {
  .header1 {
    font-size: 0.77rem;
    /* color: black; */
  }
  .addtaskbtn,
  .logoutbtn {
    font-size: 0.48rem;
  }
  .middle-child,
  .noTask {
    font-size: 0.64rem;
    /* background-color: yellow; */
  }

  .TaskContent h1 {
    font-size: 0.65rem;
  }
  .TaskContent h2,
  .TaskContent h3 {
    font-size: 0.62rem;
  }
  .editbtn,
  .deletebtn {
    font-size: 0.5rem;
    margin: 0.2rem;
  }
}
