.Navbar {
  width: 100vw;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
}

.Navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%; /* Ensure the links take up the full width */
  justify-content: center;
}

.Navbar-links li {
  margin: 0 1rem;
}

.Navbar-links a {
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.Navbar-links a:hover {
  color: lightblue;
}
