/* Update New Task Page CSS properties */
.UpdatePage {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  /* background-color: white; */
  background-color: rgb(249, 248, 248);

}

/* CSS properties for Form Entire Box Updatecontainer */
.Updatecontainer {
  height: 80%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

/* CSS properties for Form "Updatecontainer -> Textfield */
.textfield-update {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* background-color: red; */
}

/* CSS properties for Form Textfield --> Inputfield */

.inputfield-update {
  font-size: 1.4rem;
  padding: 1rem;
  border-radius: 6px;
  border: 1px solid rgb(206, 203, 203);
  outline: none;
}

.inputfield-update:hover {
  border: 1px solid black;
}

.inputfield-update:focus {
  border: 3px solid black;
}

/* CSS properties for Form UpdateButton */

.UpdateTasks {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.5rem;
  color: white;
  background-color: blue;
  border-radius: 5px;
  cursor: pointer;
}

.UpdateTasks:hover {
  background-color: rgb(7, 7, 188);
}

/* ------>>>> RESPONSIVE  <<<<------- */

/* @media queries are used to apply specific styles to a web page based on the characteristics of the device or viewport, such as its width, height, or orientation */

/* when the width of the viewport is between 1024 pixels (min-width: 1024px) and 1366 pixels (max-width: 1366px). */
@media (min-width: 1024px) and (max-width: 1366px) {
  .Updatecontainer {
    height: 35%;
    width: 75%;
    margin-top: 4rem;
  }

  .inputfield-update {
    font-size: 1.5rem;
  }
  .UpdateTasks {
    font-size: 1.6rem;
  }
}

@media (min-width: 820px) and (max-width: 1180px) {
  .Updatecontainer {
    height: 40%;
    width: 80%;
    margin-top: 4rem;
  }
  .inputfield-update {
    font-size: 1.4rem;
  }
  .UpdateTasks {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .Updatecontainer {
    height: 48%;
    width: 80%;
    margin-top: 4rem;
  }

  .inputfield-update {
    font-size: 1.4rem;
  }
  .UpdateTasks {
    font-size: 1.4rem;
  }
}

@media (min-width: 912px) and (max-width: 1368px) {
  .Updatecontainer {
    height: 38%;
    width: 80%;
    margin-top: 4rem;
  }

  .inputfield-update {
    font-size: 1.5rem;
  }
  .UpdateTasks {
    font-size: 1.4rem;
  }
}

@media (min-width: 430px) and (max-width: 932px) {
  .Updatecontainer {
    height: 54%;
    width: 80%;
    margin-top: 3.6rem;
  }

  .inputfield-update {
    font-size: 1.5rem;
  }
  .UpdateTasks {
    font-size: 1.3rem;
  }
}

@media (min-width: 390px) and (max-width: 844px) {
  .Updatecontainer {
    height: 58%;
    width: 80%;
    margin-top: 3.6rem;
  }

  .inputfield-update {
    font-size: 1.4rem;
  }
  .UpdateTasks {
    font-size: 1.2rem;
  }
}

@media (min-width: 375px) and (max-width: 667px) {
  .Updatecontainer {
    height: 76%;
    width: 80%;
    margin-top: 3.6rem;
  }

  .inputfield-update {
    font-size: 1.3rem;
  }
  .UpdateTasks {
    font-size: 1.2rem;
  }
}
