/* Update New Task Page CSS properties */
.UpdatePage {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: white;
}

/* CSS properties for Form Entire Box Updatecontainer */
.Updatecontainer {
  height: 75%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2vmax;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

/* CSS properties for Form "Updatecontainer -> Textfield */
.textfield-update {
  height: 70%;
  width: 50%;
  display: flex;
  flex-direction: column;
}

/* CSS properties for Form Textfield --> Inputfield */

.inputfield-update {
  height: fit-content;
  font-size: 20px;
  padding: 1.3vmax;
  margin-top: 1.5vmax;
  border-radius: 6px;
  border: 1px solid rgb(206, 203, 203);
  outline: none;
}

.inputfield-update:hover {
  border: 1px solid black;
}

.inputfield-update:focus {
  border: 3px solid black;
}

/* CSS properties for Form "Updatecontainer --> UpdateButton*/

.UpdateButton {
  /* height: 30%; */
  min-height: fit-content;
  /* background-color: rgb(228, 154, 154); */
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CSS properties for Form UpdateButton -> addTask*/

.UpdateTasks {
  width: 100%;
  font-size: 20px;
  padding: 6px;
  color: white;
  background-color: blue;
  border-radius: 5px;
  margin-top: 20px;
}

.UpdateTasks:hover {
  background-color: rgb(45, 45, 221);
}

/* ------>>>> RESPONSIVE  <<<<------- */

/* @media queries are used to apply specific styles to a web page based on the characteristics of the device or viewport, such as its width, height, or orientation */
/* enclosed styles will be applied only when the width of the viewport is less than or equal to 843 pixels. */

@media (max-width: 843px) {
  .inputfield-update {
    font-size: 18px;
  }
  .UpdateTasks {
    font-size: 16px;
  }
}

/* enclosed styles will be applied only when the width of the viewport is less than or equal to 759pixels. */
@media (max-width: 759px) {
  .Updatecontainer {
    height: 60%;
  }
  .inputfield-update {
    font-size: 16px;
  }
  .UpdateTasks {
    font-size: 14px;
  }
}

/* enclosed styles will be applied only when the width of the viewport is less than or equal to 676 pixels. */
@media (max-width: 676px) {
  .Updatecontainer {
    height: 50%;
  }
  .inputfield-update {
    font-size: 14px;
  }
  .UpdateTasks {
    font-size: 13px;
  }
}

/* enclosed styles will be applied only when the width of the viewport is less than or equal to 592 pixels. */
@media (max-width: 592px) {
  .Updatecontainer {
    height: 42%;
  }
  .inputfield-update {
    font-size: 12px;
  }
  .UpdateTasks {
    font-size: 12px;
  }
}

/* enclosed styles will be applied only when the width of the viewport is less than or equal to 509 pixels. */
@media (max-width: 509px) {
  .Updatecontainer {
    height: 40%;
  }
  .inputfield-update {
    font-size: 12px;
  }
  .UpdateTasks {
    font-size: 11px;
  }
}

/* enclosed styles will be applied only when the width of the viewport is less than or equal to 409 pixels. */
@media (max-width: 409px) {
  .Updatecontainer {
    height: 36%;
  }
  .inputfield-update {
    font-size: 10px;
  }
  .UpdateTasks {
    font-size: 10px;
  }
}

/* enclosed styles will be applied only when the width of the viewport is less than or equal to 377 pixels. */
@media (max-width: 377px) {
  .Updatecontainer {
    height: 34%;
  }
  .inputfield-update {
    font-size: 9px;
  }
  .UpdateTasks {
    font-size: 8px;
  }
}

/* enclosed styles will be applied only when the width of the viewport is less than or equal to 313 pixels. */
@media (max-width: 313px) {
  .Updatecontainer {
    height: 32%;
  }
  .inputfield-update {
    font-size: 9px;
  }
  .UpdateTasks {
    font-size: 7px;
  }
}
