.register-page {
  height: 86vh;
  width: 100vw;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-container {
  height: 65%;
  width: 40%;
  padding: 1.3rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  background-color: white;
}

/* section - 1 */
.register-h1 {
  height: 15%;
  width: 100%;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  /* background-color: red; */
}

/* section - 2 */
.register-input {
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: yellow; */
}

.register-inputval {
  font-size: 1.3rem;
  padding: 0.8rem;
  border-radius: 5px;
  border: 1px solid rgb(206, 203, 203);
  outline: none;
  /* background-color: rgb(115, 255, 0); */
}

.register-inputval[type="text"],
.register-inputval[type="email"],
.register-inputval[type="password"] {
  width: calc(100% - 1.9rem);
  margin: 0.5rem;
}

.register-inputval:hover {
  border: 0.1rem solid black;
}
.register-inputval:focus {
  border: 3px solid black;
}

.register-btn {
  width: 100%;
  color: white;
  font-size: 1.8rem;
  padding: 0.2rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0.1rem;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(251, 60, 2);
  transition: background-color 0.3s ease;
}

.register-btn:hover {
  background-color: rgb(201, 52, 6);
}

.linkcss {
  width: 100%;
  text-align: start;
  color: blue;
  font-size: 1.4rem;
  font-weight: 500;
}

.linkcss:hover {
  color: rgb(7, 7, 156);
}

/* Responsive */
@media (max-width: 1366px) {
  .register-container {
    width: 60%;
    margin-top: -30rem;
  }
  .register-h1 {
    font-size: 2.8rem;
  }
  .register-inputval {
    font-size: 2.4rem;
  }
  .register-inputval[type="text"],
  .register-inputval[type="email"],
  .register-inputval[type="password"] {
    margin: 0.6rem;
  }
  .register-btn {
    font-size: 2.5rem;
  }
  .linkcss {
    font-size: 2.2rem;
  }
}

@media (max-width: 1180px) {
  .register-container {
    height: 40%;
    margin-top: -25rem;
  }
  .register-h1 {
    font-size: 2.7rem;
  }
  .register-inputval {
    font-size: 2.3rem;
  }
  .register-inputval[type="text"],
  .register-inputval[type="email"],
  .register-inputval[type="password"] {
    margin: 0.6rem;
  }
  .register-btn {
    font-size: 2.4rem;
  }
  .linkcss {
    font-size: 2rem;
  }
}

@media (max-width: 800px) {
  .register-container {
    height: 40%;
    margin-top: -15rem;
  }

  .register-h1 {
    font-size: 2.1rem;
  }
  .register-inputval {
    font-size: 1.3rem;
  }
  .register-inputval[type="text"],
  .register-inputval[type="email"],
  .register-inputval[type="password"] {
    margin: 0.3rem;
  }
  .register-btn {
    font-size: 1.6rem;
  }
  .linkcss {
    font-size: 1.3rem;
  }
}

@media (max-width: 590px) {
  .register-h1 {
    font-size: 1.4rem;
  }

  .linkcss {
    font-size: 1rem;
  }
}

@media (max-width: 490px) {
  .register-btn {
    font-size: 1.2rem;
  }
  .linkcss {
    font-size: 0.9rem;
  }
}

@media (max-width: 420px) {
  .register-inputval {
    font-size: 1rem;
  }
  .linkcss {
    font-size: 0.85rem;
  }
}

@media (max-width: 390px) {
  .register-container {
    height: 45%;
    margin-top: -9rem;
  }

  .register-h1 {
    font-size: 1.7rem;
  }
  .register-inputval {
    font-size: 1.2rem;
  }
  .register-inputval[type="text"],
  .register-inputval[type="email"],
  .register-inputval[type="password"] {
    margin: 0.3rem;
  }
  .register-btn {
    font-size: 1.3rem;
  }
  .linkcss {
    font-size: 0.8rem;
  }
}

@media (max-width: 330px) {
  .register-inputval {
    font-size: 0.9rem;
  }
  .register-btn {
    font-size: 1.1rem;
  }
  .linkcss {
    font-size: 0.77rem;
  }
}

@media (max-width: 310px) {
  .register-inputval {
    font-size: 0.8rem;
  }
  .register-btn {
    font-size: 1rem;
  }
  .linkcss {
    font-size: 0.72rem;
  }
}
